.testimony {
    background-color: rgb(244, 246, 248);
    .ant-carousel {
        .slider {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        
          .slick-track {
            display: flex;
            justify-content: center;  // Centering slide content horizontally
            align-items: center;      // Centering slide content vertically
            .slick-slider {
                .slick-list {
                    .slick-track {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
          }
    }
  

  }
  